#home {
    background-color: #eee;
    padding: 10px;
}

#home .row {
    height: 90vh;
}

#home h1 {
    font-size: 9.5em;
    line-height: 1em;
}
#home h3 {
    font-size: 3.5em;
    color:#ebc81e;
    letter-spacing: .1em;
}


#home p {
    line-height: 1.9em;
    text-align: justify;
}

#home a {
    color: #ebc81e;
}

#home a:hover {
    color: #ebc81e;
}

.imgSpacing {
    margin-bottom: 20px;
}

@media only screen and (max-width: 1200px){
    #home h1 {
        font-size: 8em;
    }
    #home h3 {
        font-size: 3.5em;
    } 
}
@media only screen and (max-width: 1000px){
    #home h1 {
        font-size: 6em;
    }
    #home h3 {
        font-size: 3em;
    } 
}

@media only screen and (max-width:767px){
    #home .row {
        height: 60vh;
    }
}
@media only screen and (max-width:560px){
    #home {
        margin: 20px 0px;
    }
    #home .row {
        height: 100%;
        margin-top: 20%;
    }
}