#contactWrapper {
    background-color: #eee;
}

footer {
background-color: #222;
color:#eee;
}

footer .row {
    padding: 15px 0px;
}

footer p{
    font-weight: 300;
}

footer a {
    color: #ebc81e;
}
footer a:hover {
    color: #ebc81e;
}

footer i {
    font-size: 3em;
}