#projects .projectWrapper {
    overflow-y: scroll;
}

.fixedHeight .projects-header {
    position: fixed;
    top: 40%;
    left: 10%;
    z-index: -1;
    letter-spacing: 0em;
    font-size: 5em;
    /* font-weight: lighter; */
    border-bottom: 1px solid #ebc81e;
    text-align: left;
    text-transform: uppercase;
}

#projects {
    margin: 20px 0px;
    padding: 20px 0px;
}

